/* TODO:
   [ ] flex layout
   [ ] size images
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

button {
  padding: 4px 28px;
}

button,
.info-img,
.call-to-action {
  border-radius: 8px;
}

header,
footer,
.hero {
  background-color: #1F2937;
}

.info-heading,
.quote-container {
  color: #1F2937;
}

.info-heading,
blockquote {
  font-size: 36px;
}

.logo,
.citation,
.call-to-action-heading {
  font-size: 24px;
}

.hero-subtext,
header a,
.info-text,
.call-to-action-text,
footer,
button {
  font-size: 18px;
}

.hero-heading,
.logo,
.call-to-action-heading,
button {
  color: #F9FAF8;
}

.hero-subtext,
.call-to-action-text,
footer,
header a {
  color: #E5E7EB;
}

.call-to-action,
button {
  background-color: #3882F6;
}

.hero-heading,
.info-heading {
  font-weight: 900;
}

.citation,
button,
.logo {
  font-weight: 700;
}

header {

}

.logo {

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {

}

a {
  text-decoration: none;
}

.hero {

}

.hero-heading {
  font-size: 48px;
}

.hero-subtext {

}

.hero button {
  border-width: 0;
}

.call-to-action button {
  border-style: solid;
  border-color: #F9FAF8;
}

.hero-image {

}

.info {

}

.info-heading {

}

.info-img {
  border: 3px solid #3882F6;
}

.info-text {
  color: #4B5563;
}

.quote-container {
  background-color: #E5E7EB;
}

blockquote {
  font-weight: 300;
  font-style: italic;
}

.citation {

}

.call-to-action {

}

.call-to-action-heading {

}

.call-to-action-text {

}

footer {

}