* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

p {
  margin: 8px 0;
}

a {
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

header {
  max-width: 1000px;
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

header a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-content {
  max-width: 1000px;
  margin: 0px auto;
  width: 100%;
  padding: 100px 0;
}

.hero-image {
  max-width: 550px;
  max-height: 240px;
  object-fit: cover;
  padding-left: 30px;
}

.hero-heading {
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
}

.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

@media (width >=1000px) {
  .hero-image {
    float: right;
  }

  .hero-heading {
    margin: 8px 0;
  }
}

@media (width <1000px) {
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-image {
    width: 100%;
    flex: 0 1 auto;
    padding: 0 30px;
  }
}

.button {
  padding: 4px 28px;
  border-radius: 8px;
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  font-weight: 700;
}

.button:hover {
  background-color: #1862d6;
}

.button:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

.hero .button {
  border-width: 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.info-heading {
  font-weight: 900;
  color: #1f2937;
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.info-card {
  width: 170px;
  text-align: center;
}

.info-image {
  border: 3px solid #3882f6;
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}

.info-text {
  color: #4b5563;
  font-size: 18px;
}

.quote-container {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 100px;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}

blockquote>p {
  margin: 0;
}

.citation {
  font-weight: 700;
  font-size: 24px;
  width: 100%;
  max-width: 780px;
  text-align: right;
  margin: 0 auto;
}

.call-to-action {
  border-radius: 8px;
  background-color: #3882f6;
  margin: 100px auto;
  max-width: 1000px;
  width: 95%;
  padding: 30px 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
}

.call-to-action-heading {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

.call-to-action-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.call-to-action .button {
  border-style: solid;
  border-color: #f9faf8;
  flex: none;
}

footer {
  font-size: 18px;
  color: #e5e7eb;
  background-color: #1f2937;
  text-align: center;
  padding: 30px;
}
